/* utility classes */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

.fl {
  float: left;
}

.fr {
  float:right
}

.container {
  width: 1200px;
  margin: 0 auto
}

/* imposto il font per tutta la pagina */
body {
  font-family: 'Montserrat', sans-serif;
}

.button {
  border: 1px solid #EE7E62;
  height: 10px;
  min-width: 20px;
  padding: 8px 10px;
  border-radius: 4px
}

.button-type-a {
  background: #fff;
  color: #EE7E62;
  margin: 20px;
}

.button-type-b {
  background: #EE7E62;
  color: #fff
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.link-text {
  display: inline;
  padding-right: 15px
}

.shadow {
  box-shadow: 0px 0px 30px 5px #ccc;
  border-radius: 5px
}

.a {
  text-decoration: none;
}

.bd-bottom {
  border-bottom: 1px solid #fff
}

.bd-right {
  border-right: 1px solid #fff
}
/* end utility classes */

header {
  width: 100%;
}

/* imposto caratteristiche della prima nav-bar */
.first-nav {
  height: 80px;
  line-height: 80px;
  color: #ccc;
  background: #F5F9FC;
  border-bottom: 1px solid #666
}

/* imposto il colore dei link della prima nav-bar */
.first-nav .fl a {
  color: #70808C
}

/* imposto le caratteristiche della barra di divisione fra English e Contact Us */
.border-right {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  border-right: 1px solid #70808C;
  padding-right: 10px
}

/* imposto il colore dell'icona della prima nav-bar */
.first-nav .fr .fa {
  color: #47A2BA
}

/* imposto il padding fra i testi della prima nav-bar */
.border-right .link-text, .border-left {
  padding-left: 10px
}

/* imposto le caratteristiche della seconda nav-bar */
.second-nav {
  height: 80px;
  line-height: 80px;
}

/* imposto le caratteristiche della lista della seconda nav-bar */
ul li {
  display: inline-block;
  padding: 0 10px;
}

/* imposto le caratteristiche dei link della seconda nav-bar */
li a {
  color: #70808C
}

/* posiziono l'immagine del logo */
.logo img {
  position: relative;
  top: 10px
}

/* imposto le caratteristiche dello sfondo del jumbotron */
.bg {
  background: url(../img/jumbotron.png);
  width: 100%;
  height: 695px;
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #fff4ef;
  position:relative;
}

.bg::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  background: #afebe4;
  height: 80px;
  width: 100%;

}
/* imposto le caratteristiche dell'h1 del jumbotron */
.jumbotron h1 {
  font-size: 48px;
  width: 600px;
  color: #374759;
  font-family: bold
}
/* imposto le caratteristiche dell'h4 del jumbotron */
.jumbotron h4 {
  font-size: 15px;
  width: 600px;
  padding-top: 25px;
  color: #374759;
  margin-bottom: 20px
}

/* imposto le caratteristiche del button del jumbotron */
.jumbotron .button {
  height: 80px;
  line-height: 80px;
  font-size: 12px;
  padding: 15px 30px;
}

/* imposto le caratteristiche dell'h6 del jumbotron */
.jumbotron h6 {
  margin-top:20px;
  color: #374759
}

/* imposto il padding-top del jumbotron */
.jumbotron {
  padding-top: 60px
}

/* imposto il colore di sfondo del box contenente il div col cubo e gli altri tre div float */
.bg-box {
  background: #F5F9FC
}

/* imposto le caratteristiche del box col cubo */
.cube {
  padding-top: 50px;
  text-align: center;
  width: 800px;
  margin: 0 auto
}

/* imposto le caratteristiche dell'h2 del div col cubo */
.cube h2 {
  font-size: 45px;
  margin-bottom: 30px
}

/* imposto le caratteristiche dell'h5 del div col cubo */
.cube h5 {
  font-size: 12px;
}

/* definisco le caratteristiche del box sotto al cubo */
.box-1 {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 240px;
  background: #fff;
}

/* definisco le caratteristiche del primo contenuto del box sotto al cubo */
.content-1 {
  width: 40%;
  text-align: center;
}

/* imposto un margin-bottom all'immagine del primo contenuto del box sotto al cubo */
.content-1 > img {
  margin-bottom: 20px;
}

/* imposto le caratteristiche del link del primo contenuto del  box sotto al cubo */
.box-button span {
  font-size: 15px;
  /* line-height: 15px; */
  /* color: #fff; */
  /* padding: 0 30px */
}

/* definisco le caratteristiche del secondo contenuto del box sotto al cubo */
.content-2 {
  width: 60%;
  text-align: left;
}

/* imposto i margini del paragrafo del secondo contenuto float sotto al cubo */
.content-2 > p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 12px
}

/* imposto le caratteristiche dell'h5 del secondo contenuto float sotto al cubo */
.content-2 h5 {
  font-size: 20px;
  font-family: bold
}

.info-features {
  width: 100%;
  font-size: 18px;
  line-height: 20px;
}

.info-features:before {
  content: "";
  display: block;
  float: right;
  width: 65%;
  height: 2px;
  margin-top: 6px;
  background-color: #899397;
}

h4 {
  font-size: 25px
}

.box-2 {
  margin-top: 60px;
  /* text-align: center; */
}

.content-1 .button {
  font-size: 30px;
  height: 50px
}

.content-3 {
  width: 30%;
  background: #fff;
  padding: 20px 40px;
  text-align: center;
}

/* imposto le caratteristiche del quarto contenuto */
.content-4 {
  width: 30%;
  background: #fff;
  margin: 0 60px
}

.content-3 hr {
  margin-top: 70px;
  margin-bottom: 40px
}

.content-2-list {
  display: inline-block;
  margin-top: 30px;
  padding-right: 20px
}

.content-2-list span {
  display: inline-block;
  font-size: 12px
}

.content-2-list img {
 position: relative;
 top: 3px;
 padding-right: 10px
}

.content-3-list {
  display: inline-block;
  padding-right: 20px;
  text-align: left;
  font-size: 14px
}

.content-3-list img {
 position: relative;
 top: 3px;
 padding-right: 10px
}

.content-3 h4 {
  padding-top: 15px;
  padding-bottom: 40px
}

.content-3-button {
  margin: 60px
}

.content-3-button span {
  padding: 20px
}

.content-3-button span a {
  color: #fff
}

.content-3 h5 {
  font-size: 20px;
  font-family: bold;
  margin-bottom: 20px
}

/* imposto le caratteristiche della row gradient */
.gradient-row {
  width: 100%;
  height: 700px;
  background: linear-gradient(to right, #48A4B8 , #53B8A8);
  margin-top: 60px;
  text-align: center;
}

/* imposto il font-size della descrizione dei tre box sotto al cubo */
.content-3 p {
  font-size: 14px
}

.top-text h2 {
  color: #fff;
  padding: 40px 0;
  font-family: bold;
  font-size: 32px
}

.top-text p {
  color: #fff;
  font-size: 14px
}

/* imposto le caratteristiche degli 8 blocchi */
.block {
  width: 25%;
  padding: 20px 0;
  height: 160px
}

.plus::after {
  content: "+";
  line-height: 30px
}

.block p {
  font-size: 30px;
  color: #fff;
  padding-top: 10px;
  font-family: bold
}

.block span {
  font-size: 10px;
  color: #fff;
}

.row {
  margin-top: 70px
}

.under-gradient {
  margin-top: 20px
}

.info-customers {
  text-align: left;
  width: 180px;
  margin: 50px 70px
}

.info-customers span {
  font-size: 40px;
  color: #000;
  font-family: bold
}

.info-customers p {
  font-size: 12px;
  color: #000;
}

.customers-logo img {
  max-height: 50px;
  max-width: 130px
}

.customers-logo {
  width: 600px;
  margin-top: 50px;
  margin-right: 50px;
}

.man {
  margin-top: 40px
}

.img-man img {
  height: 300px
}

.text-man {
  margin-top: 40px
}
.text-man h2 {
  width: 500px;
  font-size: 32px
}

.text-man p {
  width: 500px;
  font-size: 14px;
  margin: 50px 0
}

/* imposto lo sfondo del footer */
footer {
  background: #374959;
}

/* imposto le caratteristiche dell'h5 del footer */
footer h5 {
  color: #fff;
  margin: 30px 0;
  font-family: bold
}

/* imposto la width del box del footer */
.footer-box {
  width: 25%
}

/* imposto le caratteristiche del paragrafo del box del footer */
.footer-box p {
  color: #fff;
  padding-bottom: 15px;
  font-size: 13px
}

/* imposto il colore dei link del box del footer */
.footer-box a {
  color: #B1BBC7;
  text-decoration: none
}

/* imposto il colore al passaggio del mouse sui link del box del footer */
.footer-box a:hover, .lenguages a:hover, .copyright-privacy a:hover {
  text-decoration: underline;
  color: #91CFDC
}

/* imposto le caratteristiche del terzo tipo di button */
.button-type-c {
  border-color: #000;
  background: #DBDEE0;
}

.fourth-footer-box .button a {
  color: #000;
}

.fourth-footer-box p:nth-last-child(1) {
  padding-bottom: 30px
}

.icons {
  margin-top: 20px
}

.icons .fa {
  padding-right: 20px;
  color: #fff
}

/* imposto le caratteristiche del box lenguages del footer */
.lenguages {
  text-align: center;
  margin-top: 100px;
  font-size: 13px
}

.lenguages span a {
  text-decoration: none;
  color: #B1BBC7;
  margin-right: 15px
}

/* imposto le caratteristiche dell'hr del footer */
.lenguages hr {
  margin-top: 20px;
  color: #5E7386;
  border: 1px solid
}

/* imposto le caratteristiche dello span del box copyright */
.copyright-privacy .fl span {
  display: block;
  color: #fff;
  margin-top: 10px
}

/* imposto il margine top e bottom del box copyright del footer */
.copyright-privacy .fl, .copyright-privacy .fr {
  margin: 30px 0
}

/* imposto il colore dei link degli span del box copyright del footer */
.copyright-privacy .fr span a {
  color: #B1BBC7;
}
