/* utility classes */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

.fl {
  float: left;
}

.fr {
  float:right
}

.container {
  width: 1200px;
  margin: 0 auto
}

body {
  font-family: 'Montserrat', sans-serif;
}

.button {
  border: 1px solid #EE7E62;
  height: 10px;
  min-width: 20px;
  padding: 8px 10px;
  border-radius: 4px
}

.button-type-a {
  background: #fff;
  color: #EE7E62;
  margin: 20px;
}

.button-type-b {
  background: #EE7E62;
  color: #fff;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.link-text {
  display: inline;
  padding-right: 15px
}

.shadow {
  box-shadow: 0px 0px 30px 5px #ccc;
  border-radius: 5px
}

.a {
  text-decoration: none
}

.bd-bottom {
  border-bottom: 1px solid #fff
}

.bd-right {
  border-right: 1px solid #fff
}
/* end utility classes */

header {
  width: 100%;
}

.first-nav {
  height: 80px;
  line-height: 80px;
  color: #ccc;
  background: #F5F9FC;
  border-bottom: 1px solid #666
}

.first-nav img:nth-child(2) {
  height: 15px
}

.first-nav .fl a {
  color: #70808C
}

#border-right {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  border-right: 1px solid #70808C;
  padding-right: 10px
}

.first-nav .fr .fa {
  color: #47A2BA
}

#border-right .link-text {
  padding-left: 10px
}

#border-left {
  padding-left: 10px
}

.second-nav {
  height: 80px;
  line-height: 80px;
}
ul li {
  display: inline-block;
  padding: 0 10px;
}

li a {
  color: #70808C
}

.logo img {
  position: relative;
  top: 10px
}

.bg {
  background: url(../img/jumbotron.png);
  width: 100%;
  height: 700px;
  background-size: cover;
}

.jumbotron h1 {
  font-size: 48px;
  width: 600px;
  color: #374759;
  font-family: bold
}

.jumbotron h4 {
  font-size: 15px;
  width: 600px;
  padding-top: 25px;
  color: #374759;
  margin-bottom: 20px
}

.jumbotron .button {
  height: 80px;
  line-height: 80px;
  font-size: 12px;
  padding: 15px 30px;
}

.jumbotron h6 {
  margin-top:20px;
  color: #374759
}

.jumbotron {
  padding-top: 60px
}

.bg-box {
  background: #F5F9FC
}

.cube {
  padding-top: 50px;
  text-align: center;
  width: 800px;
  margin: 0 auto
}

.cube h2 {
  font-size: 45px;
  margin-bottom: 30px
}

.cube h5 {
  font-size: 12px;
}

.box-1 {
  margin-top: 50px;
  padding: 50px 0;
  background: #fff;
}

.content-1 {
  width: 40%;
  text-align: center;
}

.content-1 > img {
  margin-bottom: 20px;
}

.box-button a {
  font-size: 15px;
  line-height: 10px;
  color: #fff;
  padding: 0 15px
}
.content-2 {
  width: 60%;
  text-align: left;
}

.content-2 > p {
  margin-top: 30px;
  margin-bottom: 20px
}

.content-2 h5 {
  font-size: 20px;
  font-family: bold
}

h4 {
  font-size: 25px
}

.box-2 {
  margin-top: 60px;
  text-align: center;
}

.content-1 .button {
  font-size: 30px;
  height: 50px
}

.content-3 {
  width: 30%;
  background: #fff;
  padding: 20px 40px
}

.content-4 {
  width: 30%;
  background: #fff;
  margin: 0 60px
}

.content-3 hr {
  margin-top: 70px;
  margin-bottom: 40px
}

.content-2-list {
  display: inline-block;
  margin-top: 30px;
  padding-right: 20px
}

.content-2-list span {
  display: inline-block;
}

.content-2-list img {
 position: relative;
 top: 3px;
 padding-right: 10px
}

.content-3-list {
  display: inline-block;
  padding-right: 20px;
  text-align: left
}

.content-3 h4 {
  padding-top: 15px;
  padding-bottom: 40px
}

.content-3-button {
  margin: 60px
}

.content-3-button span {
  padding: 20px
}

.content-3 h5 {
  font-size: 20px;
  font-family: bold;
  margin-bottom: 20px
}

.gradient-row {
  width: 100%;
  height: 700px;
  background: linear-gradient(to right, #48A4B8 , #53B8A8);
  margin-top: 60px;
  text-align: center;
}

.top-text h2 {
  color: #fff;
  padding: 40px 0;
  font-family: bold;
  font-size: 32px
}

.top-text p {
  color: #fff;
  font-size: 14px
}

.block {
  width: 25%;
  padding: 20px 0
}

.block p {
  font-size: 30px;
  color: #fff;
  padding-top: 10px;
  font-family: bold
}

.block span {
  font-size: 10px;
  color: #fff;
}

.row {
  margin-top: 70px
}
